* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #2b1e3f, #d85b66);
}

.container {
    width: 900px;
    height: 500px;
    display: flex;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

.left {
  flex: 1;
  background: #2b1642;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.planet {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  position: relative;

  background: linear-gradient(
    90deg,
    #e89a86 0%,
    #e58a7f 50%,
    #d45ca3 100%
  );

  box-shadow: 0 30px 60px rgba(0,0,0,0.5);
}

.planet::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;

  background:
    radial-gradient(circle at 30% 40%, rgba(0,0,0,0.25), transparent 65%),
    radial-gradient(circle at 25% 25%, rgba(255,255,255,0.08), transparent 40%);
}

.planet::after {
  content: "";
  position: absolute;
  top: 70px;
  left: 50px;
  width: 95px;
  height: 35px;
  background: rgba(120, 60, 60, 0.25);
  border-radius: 40px;
}

.spot {
  position: absolute;
  bottom: 65px;
  right: 45px;
  width: 85px;
  height: 35px;
  background: rgba(120, 60, 60, 0.25);
  border-radius: 40px;
}


.left h1 {
    letter-spacing: 10px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    gap: 15px;
    margin-top: 10px;
    color: #e06c6c;
}

.right {
    flex: 1;
    background: linear-gradient(135deg, #e06c6c, #b54b5a);
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 70%;
    color: white;
}

.input-box {
    position: relative;
    margin-bottom: 25px;
}

.input-box  input {
    width: 100%;
    padding: 10px 5px;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    outline: none;
    color: white;
}

.input-box label {
    position: absolute;
    left: 5px;
    top: 10px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
    transition: 0.3s;
    pointer-events: none;
}

.input-box input:focus + label,
.input-box input:valid + label {
    top: -10px;
    font-size: 12px;
    color: white;
}
.buttons {
    display: flex;
    gap: 15px;
    margin: 20px 0;
}

button {
    flex: 1;
    padding: 10px;
    border: 1px solid white;
    background: transparent;
    color: white; 
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: white;
    color: #b54b5a;
}

button.outline {
    background: transparent;
}

.forgot {
    font-size: 13px;
    color: white;
    text-decoration: none;
}

.forgot:hover {
    text-decoration: underline;
}

@media(max-width: 768px) {
    .container {
        flex-direction: column;
        height: auto;
        width: 90%;
    }

    .left, .right {
      height: 300px;
    }
}